@import "../../styles/settings";

.about {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: -4px 12px 45px -16px #cecece;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include respond-to("mobile") {
    margin-top: 0em;
  }
  @include respond-to("small") {
    margin-top: 0em;
  }
  @include respond-to("medium") {
    margin-top: 2em;
  }
}