.container_grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  

  @media screen and (max-width: 810px) {
    display: flex;
    justify-content: center;
  }
}