.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.icons {
  float: left;
  margin: 10px;
}

.content_icons {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0;
}
