.footer {
  background-color: Black;
  height: 5em;
  background: black;
  width: 100%;
  z-index: 1;

  &-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8em;
  }

  p {
    color: #cecece;
  }

  .icon {
    margin-left: 5px;
    cursor: pointer;
  }
}