.footer {
  background-color: Black;
  height: 5em;
  background: black;
  width: 100%;
  z-index: 1;
  bottom: 0;

  p {
    color: #cecece;
  }

  .icon {
    margin-left: 5px;
    cursor: pointer;
  }
}