@import "../../../styles/settings";

.content_Title {
  background: transparent;
  border-bottom: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;

  .title {
    color: #000000;
    font-weight: bolder;
    margin: 0;
    text-transform: uppercase;
  }
}