.content_Title {
  background: transparent;
  border-top:2px solid black;
  margin: 46px 9px 0 9px;
}

.title {
  color: #000000;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: bolder;
  margin: 9px 0;
}