@import "../../../styles/settings";

.header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  height: 6em;

  @include respond-to("mobile") {
    height: 4em;
  }
  @include respond-to("small") {
    height: 6em;
  }
  @include respond-to("medium") {
    height: 6em;
  }

  

  img {
    width: 100px;
    height: 80%;
    cursor: pointer;
    padding: 10px;

    @include respond-to("mobile") {
      width: 70px;
    }
    @include respond-to("small") {
      width: 100px;
    }
    @include respond-to("medium") {
      width: 100px;
    }
  }
  
  .logo {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    align-items: center;
  }

  &-vertical {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1px;
    @include respond-to("mobile") {
      display: flex;
    }
    @include respond-to("small") {
      display: flex;
    }
    @include respond-to("medium") {
      display: flex;
    }
   
    .menu_icon {
      display: flex;
      background-color: white;
      margin-right: 1.5em;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }
}

.ant-layout-header {
  @include respond-to("mobile") {
    padding: 0px;
  }
}

.item-drawer {
  margin-top: 1.3em;
  
  a {
    color: black;
    transition: .2s;
    font-size: 1rem;

    &:hover {
      color: #40a9ff;
    }
  }
}
