@import "../../../styles/settings";

.header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  height: 6em;

  @include respond-to("mobile") {
    height: 4em;
  }
  @include respond-to("small") {
    height: 4em;
  }
  @include respond-to("medium") {
    height: 6em;
  }

  img {
    width: 100px;
    height: 80%;
    cursor: pointer;
    padding: 10px;

    @include respond-to("mobile") {
      width: 70px;
    }
    @include respond-to("small") {
      width: 70px;
    }
    @include respond-to("medium") {
      width: 100px;
    }
  }

  &-horizontal {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1px;

    @include respond-to("mobile") {
      display: none;
    }
    @include respond-to("small") {
      display: none;
    }
    @include respond-to("medium") {
      display: flex;
      height: 6em;
    }
  }

  &-vertical {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    @include respond-to("mobile") {
      display: flex;
    }
    @include respond-to("small") {
      display: flex;
    }
    @include respond-to("medium") {
      display: none;
    }

    .menu_icon {
      display: flex;
      background-color: white;
      margin-right: 1.5em;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }
}

.ant-layout-header {
  @include respond-to("mobile") {
    padding: 0px;
  }
}

.item-drawer {
  margin-top: 10px;
}
