.publicity_banner {
  background-color: gray;
  justify-content: center;
  align-items: center;

  h5 {
    color: white;
  }

  &-rectagle {
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex: 1;
  }
  
  &-portrait {
    margin-top: 30px;
    height: 80%;
    display: flex;
    flex: 1;
  }
}