@import "../../../styles/settings";

.publicity_banner {
  background-color: gray;
  justify-content: center;
  align-items: center;

  h5 {
    color: white;
  }

  &-rectangle {
    margin-top: 30px;
    width: 80%;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
  }
  
  &-portrait {
    margin-top: 30px;
    height: 80%;
    display: flex;
    flex: 1;
    padding: 0px;

    @include respond-to("mobile") {
      padding: 40px;
    }
    @include respond-to("small") {
      padding: 40px;
    }
    @include respond-to("medium") {
      padding: 40px;
    }
  }
}