.content_share {
  margin: 8px 29px;
  opacity: 1;
  transition: 0.5s;
  margin: 4px auto;
  display: flex;
  justify-content: flex-end;

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.span_button {
  margin: 1em 0.5em;
}