  .container_up {
    display: flex;
    justify-content: center;
    height: 51px;
  }
  
  .buttom_up {
    background-color:#468ef9;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    z-index: 1;
    margin: 12px 10px;
  }

  .icon-up {
    width: 30px;
    height: 30px;
    margin: auto;
  }
