.cardw__image{
  width: 420px;
  height: 190px;
  margin: 19px 0;
  position: relative;
  top: 0;
  overflow: hidden;
  border-radius: 5px;

  .image {
    width: 100%;
    height: 100%;
  }
  
  .card__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index:1;
    background: black;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.774);
    padding: 1px 11px 9px;
  }
  
  h3 {
    font-size: 20px;
    color: white;
  }

  Button {
    margin: 11px 0 0;
  }

  .text {
    font-size: 12.5px;
    float: left;
    color: #f3f3f3;
    font-weight: bold;
    letter-spacing: 1px;
  }
}