@import "../../../styles/settings";

main {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;

  @include respond-to("mobile") {
    width: 95%;
    overflow-x: hidden;
    margin-top: 2em;
  }
  @include respond-to("small") {
    width: 95%;
  }
  @include respond-to("medium") {
    width: 90%;
  }
  @include respond-to("large") {
    width: 70%;
  }
}

.layout {
  .site-layout-content {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 3em;
  }
}

.ant-layout {
  background-color: whitesmoke;
}
