@import "../../../styles/settings";

main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;

  @include respond-to("mobile") {
    width: 100%;
    overflow-x: hidden;
  }
  @include respond-to("small") {
    width: 100%;
  }
  @include respond-to("medium") {
    width: 80%;
  }
  @include respond-to("large") {
    width: 70%;
  }
}

.site-layout-content {
  background-color: white;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}

